.css-19r6kue-MuiContainer-root {
    background-color: #001C30;
}

.css-hip9hq-MuiPaper-root-MuiAppBar-root {
    background-color: #001C30 !important;
}

#soxHead {
    margin-right: 8px;
    padding: 8px;
}

@media screen and (max-width: 370px) {
    #soxHead {
        display: none;
    }
    #logout-text {
        display: none;
    }
}

#logout-button {
    border: none ;
    display: flex;
    align-items: center;
    background: none;
    cursor: pointer;
    position: relative;

    color: #fff;
    font-family: "Chakra Petch";
    font-size: 1.1rem;
}
