.cr-app-header h1 {
    font-family: 'Chakra Petch';
    text-align: center;
}

#savedID, #editID {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: large;
    font-family: 'montserrat';
}

#savedID span, #editID span {
    font-weight: bolder;
}