.connected-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 24px;
}

.connected-notification {
    position: absolute;
    bottom: -60px;
    color: white;
    background-color: #39e75f;
    border-radius: 25px;
    padding: 0 8px 0 8px;
    margin: 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    font-size: large;
    transition: transform 0.5s ease-in-out;
}

.notification-animation-enter {
    transform: translateY(-100px);
}

.notification-animation-exit {
    transform: translateY(100px);
}

.notification-remove {
    display: none;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}