.appLayout-wrapper {
    display: flex;
    flex-direction: row;
    max-height: 100vh;
    max-width: 100vw;
    align-items: flex-start;
    justify-content: flex-start;
    scroll-behavior: none;
}

.drawer-header {
    min-height: 61px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    justify-content: space-between;
    color: white;
    font-size: larger;
    font-family: 'Chakra Petch';
    font-weight: bolder;
}

.side-drawer {
    background-color: #001C30;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.app-content {
    margin-top: 100px;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: white;
}